body {
  padding-left: 100px;
  padding-top: 20px;
}

h3 {
  text-align:center;
  font-size: 40px;
}
#map {
  height: 400px;
  width: 50%;
  border: solid black 5px;
 }


footer p {
  color: black;
  text-align:center;
  font-size: 20px;
}

footer a {
  color: black;
}
